repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
  - id: black
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    exclude: ^(tests/|docs/|setup.py)
    additional_dependencies:
    - flake8-docstrings
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v3.1.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers]
#- repo: https://github.com/pre-commit/mirrors-mypy
#  rev: v0.910-1
#  hooks:
#  - id: mypy
#    exclude: ^(docs/|example-plugin/)
