name: main

on:
  push:
    branches: [master, main]
    tags:
  pull_request:

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ['pypy3.11', '3.10', '3.11', '3.12', '3.13', '3.14']
        toxenv: [py]
        include:
        # windows
        - os: windows-latest
          python: '3.14'
          toxenv: py
        # typing
        - os: ubuntu-latest
          python: '3.10'
          toxenv: typing
        # misc
        - os: ubuntu-latest
          python: '3.14'
          toxenv: docs
        - os: ubuntu-latest
          python: '3.14'
          toxenv: pre-commit
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python }}
    - run: python -mpip install --upgrade setuptools pip tox virtualenv
    - run: tox -e ${{ matrix.toxenv }}
