name: main

on:
  push:
    branches: [master, main]
    tags:
  pull_request:

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ['pypy3.9', '3.8', '3.9', '3.10', '3.11', '3.12']
        toxenv: [py]
        include:
        # windows
        - os: windows-latest
          python: '3.12'
          toxenv: py
        # typing
        - os: ubuntu-latest
          python: '3.8'
          toxenv: typing
        # misc
        - os: ubuntu-latest
          python: '3.12'
          toxenv: docs
        - os: ubuntu-latest
          python: '3.12'
          toxenv: pre-commit
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
    - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
      with:
        python-version: ${{ matrix.python }}
    - run: python -mpip install --upgrade setuptools pip tox virtualenv
    - run: tox -e ${{ matrix.toxenv }}
